/*　スクロールしたら文字が下から上にスライド表示される */
._scrollBothSlideUp, ._scrollTextSlideUp, ._scrollSlide {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(50%);
}

._scrollSlideUp {
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    transform: translate(0, 8rem);
}

._scrollSlideSaku,
._scrollSlideFuwa {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    transform: translate(0, 2rem);
}

/*　スクロールしたら文字が上から下にスライド表示される */
._scrollBothSlideDown {
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
    transform: translateY(-20%);
}

._scrollBothSlideDownSec {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    transform: translateY(-20%);
}

._scrollBothSlideDownThr {
    opacity: 0;
    visibility: hidden;
    transition: 4s;
    transform: translateY(-20%);
}

/*　スクロールイベントが実装されたら付与されるクラス */
._isActiveBothSlideUp {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

._isActiveBothSlideDown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/*　リスト　時間差アニメーション */
// 下から上にスライド
._scrollBothListUp {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translate(0, 1rem);
}

.js-timeLag {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

//左から右にスライド
._linkSlideLeft {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateX(-20%);
}

.js-linkSlideLeft {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}



/*左から右に流れるスタイル　背景色ブラック*/
.js-price, .js-price2 {
    animation-name: js-priceBack;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    mix-blend-mode: multiply;
    content: '';
}

.js-price {
    padding: 5.3vw 12.8vw;
}

.js-price2 {
    padding: 6.3vw 30.8vw;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .js-price {
        padding: 5.3vw 12.8vw;
    }

    .js-price2 {
        padding: 6.3vw 30.8vw;
    }
}

@keyframes js-priceBack {
    0% {
        transform-origin: left;
        transform: scaleX(0);
    }

    50% {
        transform-origin: left;
        transform: scaleX(1);
    }
}

/*左から右に流れるスタイル　背景色イエロー*/
.js-passion {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: gold;
    content: '';
    animation-name: js-passionBackYellow;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    opacity: 0;
}

@keyframes js-passionBackYellow {
    from {
        transform: translateX(-30%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.js-passionTitle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: gold;
    content: '';
    animation-name: js-passionBack;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes js-passionBack {
    0% {
        transform-origin: left;
        transform: scaleX(0);
    }

    50% {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.js-passionImg {
    content: '';
    animation-name: js-passionImg;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes js-passionImg {
    0% {
        transform-origin: left;
        transform: scaleX(0);
    }

    50% {
        transform-origin: left;
        transform: scaleX(1);
    }
}

/*下から上に流れるスタイル　背景色イエロー*/
.js-material,
.js-material2 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: gold;
    content: '';
    animation-name: js-materialBack;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .js-material {
        width: 3vw;
        height: 49vw;
        padding: 0 8.8vw;
    }

    .js-material2 {
        width: 11vw;
        height: 29vw;
        padding: 5.3vw 3.8vw;
    }
}


@keyframes js-materialBack {
    0% {
        transform-origin: bottom;
        transform: scaleY(0);
    }

    50% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
}

/*　画面スクロール時、左から右に画像表示　*/
._scrollSlideImgLeft {
    clip-path: inset(0 100% -20% 0);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._scrollSlideImgLeft.is-active {
    clip-path: inset(0 0 -20% 0);
}

._scrollSlideImgLeftSec {
    clip-path: inset(0 100% -20% 0);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._scrollSlideImgLeftSec.is-active {
    clip-path: inset(0 0 -20% 0);
}



/*　画面スクロール時、右から左に画像表示　*/
._scrollSlideImgRight {
    clip-path: inset(0 -20% 0 100%);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._scrollSlideImgRight.is-active {
    clip-path: inset(0 -20% 0 0);
}

._scrollSlideImgRightSec {
    clip-path: inset(0 -20% 0 100%);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._scrollSlideImgRightSec.is-active {
    clip-path: inset(0 -20% 0 0);
}

/*　画面スクロース時、下から上に画像表示　*/
._scrollSlideImgUp {
    clip-path: inset(100% 0 -20% 0);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._scrollSlideImgUp.is-active {
    clip-path: inset(0 -20% 0 0);
}

._scrollSlideImgUpSec {
    clip-path: inset(100% 0 -20% 0);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._scrollSlideImgUpSec.is-active {
    clip-path: inset(0 -20% 0 0);
}

/*　画面ロード時、上から下に画像表示　*/
._lordSlideImgDown {
    clip-path: inset(-20% 0 100% 0);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._lordSlideImgDown.is-active {
    clip-path: inset(0 -20% 0 0);
}


/*　画面ロード時、下から上に画像表示　*/
._lordSlideImgUp {
    clip-path: inset(100% 0 -20% 0);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._lordSlideImgUp.is-active {
    clip-path: inset(0 -20% 0 0);
}

._lordSlideImgUpSec {
    clip-path: inset(100% 0 -20% 0);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._lordSlideImgUpSec.is-active {
    clip-path: inset(0 -20% 0 0);
}

/*　画面ロード時、左から右に画像表示　*/
._lordSlideImgLeft {
    clip-path: inset(0 100% -20% 0);
    transition: clip-path 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

._lordSlideImgLeft.is-active {
    clip-path: inset(0 -20% 0 0);
}

/* CHEESE・TART　縦書きの文字を一文字ずつ表示する */

.js-textSlideDown {
    animation-name: slideTextY100;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideTextY100 {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.js-textSlide {
    animation-name: slideTextY-100;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes slideTextY-100 {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* passion項目の文字を一文字ずつ表示する */
.slideAnimeLeft {
    animation-name: slideTextX100;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes slideTextX100 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideAnimeRight {
    animation-name: slideTextX-100;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes slideTextX-100 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* 文字をフェードインさせる */
.js-fadeIn {
    animation-name: fadeInAnime;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.p-menu__langGroup.js-active {
    display: block;
    transition-duration: 3s;
}

.p-menu__shopLink.js-toHide {
    transform: translateY(-204%);
}

//▼アイコンのアニメーション
.fa-caret-down.js-revolving {
    transform: rotate(180deg);
}

//ページ内リンクのアニメーション
.js-pageLink {
    transform: translateX(0);
}

//priceを左から右にスライドさせる
.js-priceText {
    transform: translateX(0);
}

.js-page {
    opacity: 1;
}

//
.js-headerActive {
    transform: translateY(0);
}

.p-menu__navMark.js-navBorderAfter::after {
    top: 0;
    transform: rotate(-135deg);
}

.p-menu__navMark.js-navBorderBefore::before {
    top: 0;
    transform: rotate(135deg);
}

.js-navBorderNone {
    background-color: rgba(255, 255, 255, 0);
}