html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}

/* langの背景色 */
div.l-header__langIcon p.js-backColor {
    background-color: #fff;
    color: black;
}

/* langのiconの色 */
.fa-external-link-alt {
    // color: #fff;
    margin-left: 10px;
}

.p-superWrapper {
    position: relative;
    overflow: hidden;
}

.p-hero {
    position: relative;
    overflow: hidden;
}

.p-hero:before {
    display: block;
    padding-top: 141%;
    content: '';
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .p-hero:before {
        padding-top: 378%;
    }

}

.p-hero__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}


.footerFixed {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}


.svg {
    position: relative;
    overflow-x: hidden;
    padding-top: 12.5vw;
    padding-bottom: 11.11111vw;
    background-color: #F0F0F0;
}

.svg_1 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 12.5vw;
    fill: gold;
}

.svg_3 {
    width: 100%;
    height: 100%;
}

.heroSVG {
    width: 100%;
}

#hero_mask {
    overflow: hidden;
}

.icon {
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    /* font-feature-settings: "liga"; */
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
}

/*  header */
.l-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__wrapper {
        position: relative;
        height: 100%;
    }

    &__box {
        position: absolute;
        top: 3.55556vw;
        left: 4.55556vw;
        display: none;
    }

    &__box img {
        width: 12vw;
        height: 100%;
        object-fit: cover;
        pointer-events: all;
        position: relative;
        display: block;
        transition : 1s;
    }

    &__box img:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
    }

    &__box img:hover {
        opacity: 0.5;
        transition : 1s;
    }

}

.l-header:before {
    display: block;
    padding-top: 93.75%;
    content: '';
}

.l-main {
    &__inner {
        padding: 0 90px;
        max-width: 1260px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .l-main {

        &__inner {
            padding: 0px;
        }
    }
}


/*  main */
.p-main {

    &_yellow {
        z-index: 20;
    }

    &__imgPc {
        position: relative;
    }

    &__imgSp {
        display: none;
    }

    &__imgBox1 {
        z-index: 10;
    }

    &__imgYellowBox1 {
        z-index: 10;
    }

    &__imgBox2 {
        position: absolute;
        top: 80%;
    }

    &__img1 {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 81%);
    }

    &__imgYellowBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 84%;
    }

    &__imgYellow1 {
        width: 100%;
        height: auto;
        object-fit: cover;
        clip-path: polygon(42% 0%, 0% 0%, 0% 100%, 9% 100%)
    }

    &__img2 {
        width: 100%;
        height: auto;
        object-fit: cover;
        clip-path: polygon(0% 0%, 205% 37%, 0% 95%, 0% 0%);
    }

    &__imgYellow2 {
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        clip-path: polygon(0% 0%, 0% 95%, 49% 81%, 17% 3%);
    }
}


/* SPサイズ--p-main */
@media screen and (min-width: 320px) and (max-width: 767px) {

    .p-main {

        &__inner {
            padding: 0px;
        }

        &__imgPc {
            display: none;

        }

        &__imgSp {
            display: block;
            position: relative;
        }

        &__img2 {
            clip-path: polygon(0% 0%, 229% 45%, 0% 86%, 0% 100%);
        }


        &__imgYellow1 {
            clip-path: polygon(60% 0%, 0% 0%, 0% 100%, 0% 80%);
        }

        &__imgYellow2 {
            clip-path: polygon(0% 0%, 0% 86%, 56% 76%, 0% 21%);
        }

    }
}



/*  memory */
.p-memory {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;


    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__description {
        display: table;
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        display: table-cell;
        vertical-align: middle;
        position: relative;
    }

    &__container {
        padding-left: 16.66667vw;
        letter-spacing: 0.08em;
    }

    &__container h2 {
        font-size: 2.5vw;
    }

    &__container {
        margin: 4.86111vw 0;
        font-size: 1.80556vw;
    }

    &__sound {
        margin-top: 6vw;
    }

    &__body {
        margin-top: 5vw;
        text-align: justify;
        font-size: 1.38889vw;
        line-height: 2;
    }

}

.p-memory:before {
    display: block;
    padding-top: 81.25%;
    content: '';
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .p-memory {

        &__container {
            font-size: 4.8vw;
        }

        &__container h2 {
            font-size: 6.4vw;
        }

        &__body {
            font-size: 3.73333vw;
        }

    }

    .p-memory:before {
        padding-top: 153%;
    }
}

/*  menu */
.p-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;

    &__nav {
        position: absolute;
        top: 0;
        right: 161px;
        z-index: 100;
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
    }

    &__btn a {
        display: block;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 32px;
        height: 56px;
        line-height: 56px;
        font-size: 16px;
        transition : 1s;
    }

    &__country ul {
        display: inline-block;
        vertical-align: top;
    }
    &__btn a:hover {
        background-color: #333;
        transition : 1s;
    }

    &__langGroup {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        padding: 56px 28px 28px 28px;
        white-space: nowrap;
    }

    &__langBox {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.88);
    }

    &__wrapper {
        position: relative;
        z-index: 10;
    }

    &__wrapper ul {
        display: inline-block;
        vertical-align: top;
    }

    &__wrapper ul a:hover {
        background-color: #fff;
        color: #000;
    }

    &__wrapper ul a {
        display: block;
        color: #fff;
        text-transform: uppercase;
        white-space: nowrap;
        pointer-events: all;
        padding: 0 14px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    &__langChoice a.is-jp {
        background-color: #fff;
        color: #000;
    }

    &__langChoice a.icon {
        position: relative;
        top: 2px;
        margin-right: 0.5em;
        font-size: 18px;
    }

    &__navLabel {
        line-height: 56px;
        font-size: 18px;
    }

    &__navIcon {
        display: flex;
        padding-top: 18px;
    }


    &__navIcon img {
        width: 18px;
        height: 18px;
        object-fit: cover;
    }

    &__navIcon p {
        margin-left: 10px;
    }

    &__shopLink {
        position: fixed;
        right: 0;
        z-index: 0;
        width: 160px;
        height: 56px;
    }

    &__shopLink a {
        display: block;
        background-color: #000;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        width: 160px;
        height: 56px;
        line-height: 56px;
        transition : 1s;
    }

    &__shopLink a:hover {
        background-color: gray;
        transition : 1s;
    }

    &__online {
        top: 57px;
    }

    &__category {
        position: fixed;
        top: 30%;
        right: 14px;
        z-index: 1000;
        transform: translateX(100%);
        transition-duration: 1s;
    }

    &__pageNav {
        display: none;
    }

    &__links li {
        position: relative;
    }

    &__links li a {
        position: relative;
        display: block;
        padding: 11px 40px 11px 0;
        height: 18px;
        text-align: right;
        line-height: 1;
        color: #000;
        text-decoration: none;
    }

    &__linkDot {
        position: absolute;
        top: 50%;
        right: 16px;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        background-color: rgba(0,0,0,0.25);
        border-radius: 100%;
    }

    &__linkDot:hover {
        background-color: #000;
    }

    &__linkLabel {
        position: absolute;
        top: 11px;
        right: 40px;
        white-space: nowrap;
        pointer-events: none;
        font-size: 1.5vw;
        transform: translateX(-10%);
        transition-duration: 1s;
        opacity: 0;
        font-family: "courier",sans-serif;
    }
}


.c-pageLink:hover .p-menu__linkLabel {
    transform: translateX(0);
    opacity: 1;
}

.p-menu__btn, .p-menu__shopLink {
    transform: translateY(-500%);
    transition-duration: 0.5s;
}

//p-menuのSPスタイル
@media screen and (min-width: 320px) and (max-width: 767px) {

    .p-menu {

        &__nav {
            right: 0;
        }

        &__langGroup {
            overflow: hidden;
            height: 100vh;
            padding: 0;
        }

        &__navIcon, &__category {
            display: none;
        }

        &__navMark {
            position: absolute;
            top: 50%;
            right: 50%;
            margin-top: -1.428571429%;
            margin-right: -12.857142857%;
            width: 25.714285714%;
            height: 1.428571429%;
            background-color: #fff;
            content: '';
            transition-duration: 0.3s;
        }

        &__navMark:before {
            position: absolute;
            top: -650%;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            content: '';
            transition-duration: 0.3s;
        }

        &__navMark:after {
            position: absolute;
            top: 650%;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            content: '';
            transition-duration: 0.3s;
        }

        &__wrapper  {
            overflow: auto;
            padding: 16.66667vw 4vw 9.86667vw 4vw;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

        &__wrapper ul {
            display: block;
        }

        &__wrapper ul a {
            padding: 0 18.66667vw 0 3.2vw;
            height: 9.33333vw;
            line-height: 9.33333vw;
            text-decoration: none;
        }

        &__pageNav ul a {
            font-size: 3.5vw;
        }

        &__country, &__langChoice a.is-jp, &__langChoice a.is-en {
            font-size: 2vw;
        }

        &__pageNav {
            position: relative;
            margin-bottom: 9.86667vw;
            padding-bottom: 9.86667vw;
            display: block;
        }

        &__btn, &__shopLink, &__online {
            width: 18.66667vw;
            height: 18.66667vw;
        }

        &__shopLink {
            top: 19.2vw;
        }

        &__online {
            top: 38.46667vw;
        }

        &__btn a {
            width: 18.66667vw;
            height: 18.66667vw;
            white-space: nowrap;
            font-size: 4.8vw;
        }

        &__shopLink a {
            width: 18.66667vw;
            height: 18.66667vw;
            font-size: 3.46667vw;
            line-height: 18.66667vw;
        }

        &__online a {
            font-size: 2.2vw!important;
        }

        &__pageBorder {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
        }

        &__pageBorder a {
            display: block;
            margin: 0 3.2vw;
            height: 1px;
            background-color: #fff;
            line-height: 1;
            pointer-events: none;
        }

        .fa-globe, .u-icon__white {
            font-size: 3vw;
        }
    }
}

/*  material */
.p-material {
    position: relative;

    &__comment span {
        transform: translateY(-30%);
        transition-duration: 1s;
    }

    &__cheese {
        margin-top: -4.166666667vw;
        position: relative;
        width: 80vw;
    }

    &__cheese:before {
        display: block;
        padding-top: 58.80952381%;
        content: '';
    }

    &__cheese h2, &__tart h2 {
        writing-mode: vertical-rl;
        padding: 20px 20px;
    }

    &__cheese h2 {
        top: 6vw;
        font-size: 1.888vw;
        left: 19.44444vw;
    }

    &__tart h2 {
        top: 0;
        font-size: 1.888vw;
        right: 20.333333vw;
    }

    &__cheeseContainer, &__tartContainer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &__cheeseContainer h2, &__tartContainer h2 {
        position: absolute;
        z-index: 10;
        width: 1em;
        overflow: hidden;
        text-align: center;
        padding: 3vw 3.8vw;
        line-height: 1;
        mix-blend-mode: multiply;
    }

    &__cheeseDescription, &__tartDescription {
        position: absolute;
        text-align: justify;
        line-height: 1.666666667;
        font-size: 1.26vw;
        width: 55.793651%;
    }

    &__cheeseDescription {
        bottom: -3vw;
        left: 12.571429%;
    }

    &__tartDescription {
        bottom: -3vw;
        left: 31.571429%;
    }

    &__cheeseSvg {
        width: 100%;
        height: auto;
    }

    &__tart {
        position: relative;
        z-index: 10;
        font-weight: 400;
        margin-top: 20%;
    }

    &__tart:before {
        display: block;
        padding-top: 52.222222222%;
        content: '';
    }

    &__cheese h2 span ,&__tart h2 span {
        position: relative;
        z-index: 10;
        font-weight: 400;
    }

    &__cheeseBox {
        top: 20px;
        right: 100px;
    }

    &__tartBox {
        top: 120px;
        left: 70px;
    }

    &__cheeseTitle, &__tartTitle {
        font-size: 14.222vw;
        letter-spacing: 0.06em;
    }

    &__cheeseTitle, &__cheeseText, &__tartTitle, &__tartText {
        position: absolute;
        color: gold;
        writing-mode: vertical-rl;
        mix-blend-mode: multiply;
        font-family: "courier",sans-serif;
    }

    &__cheeseTitle {
        right: 6.77777vw;
    }

    &__cheeseText {
        right: 2.3333vw;
        font-size: 2.1111vw;
    }

    &__tartTitle {
        top: 25%;
        left: -0.4vw;
    }

    &__tartText {
        top: 25%;
        left: -1.444vw;
        font-size: 2.1111vw;
    }

    &__cheeseContainer img {
        position: absolute;
        top: 20%;
        width: 53%;
        height: auto;
        right: 15.999999%;
    }

    &__tartContainer img {
        position: absolute;
        top: 11%;
        width: 52%;
        height: auto;
        right: 30.999999%;
    }
}


//p-materialのSPスタイル
@media screen and (min-width: 320px) and (max-width: 767px) {

    .p-material {

        &__inner {
            padding: 0;
            max-width: 100%;
        }

        &__inner br {
            display: none;
        }

        &__cheese {
            margin-top: -4.166666667vw;
            position: relative;
            width: 80vw;
        }
    
        &__cheese:before {
            display: block;
            padding-top: 58.80952381%;
            content: '';
        }
    
        &__cheese h2, &__tart h2 {
            writing-mode: vertical-rl;
            padding: 20px 20px;
        }
    
        &__cheese h2 {
            top: 27vw;
            font-size: 3.888vw;
            left: 0;
            padding: 4vw 9vw;
            height: 45vw;
        }
    
        &__tart h2 {
            top: 23vw;
            font-size: 2.888vw;
            height: 32vw;
            right: 0;
        }
    
        &__cheeseContainer, &__tartContainer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &__cheeseContainer h2, &__tartContainer h2 {
            position: absolute;
            z-index: 10;
            width: 1em;
            overflow: hidden;
            text-align: center;
            line-height: 1;
            mix-blend-mode: multiply;
        }

        &__cheeseContainer h2 {
            padding: 2vw 7.8vw;
        }

        &__tartContainer h2 {
            padding: 4vw 7.8vw;
        }

        &__cheeseDescription {
            bottom: -41vw;
            left: 34.571429%;
            font-size: 2.9vw;
            width: 73.112222%;
        }
    
        &__tartDescription {
            bottom: -34vw;
            left: 10.571429%;
            font-size: 2.9vw;
            width: 63.112222%;
        }
    
        &__cheeseSvg {
            width: 100%;
            height: auto;
        }
    
        &__tart {
            margin-top: 65%;
        }
    
        &__tart:before {
            display: block;
            padding-top: 52.222222222%;
            content: '';
        }
    
        &__cheese h2 span ,&__tart h2 span {
            position: relative;
            z-index: 10;
            font-weight: 400;
        }
    
        &__cheeseBox {
            top: 20px;
            right: 100px;
        }
    
        &__tartBox {
            top: 120px;
            left: 70px;
        }
    
        &__cheeseTitle, &__tartTitle {
            font-size: 23vw;
        }
    
        &__cheeseTitle, &__cheeseText, &__tartTitle, &__tartText {
            position: absolute;
            color: gold;
            writing-mode: vertical-rl;
            mix-blend-mode: multiply;
            font-family: "courier",sans-serif;
        }
    
        &__cheeseTitle {
            right: -19.6vw;
            top: -25vw;
        }
    
        &__cheeseText {
            right: -20vw;
            font-size: 4.1111vw;
            height: 83vw;
            top: -24vw;
        }
    
        &__tartTitle {
            top: -10vw;
            left: -11vw;
        }
    
        &__tartText {
            top: -9vw;
            left: -2vw;
            font-size: 4.1111vw;
            height: 82vw;
        }
    
        &__cheeseContainer img {
            width: 70vw;
            height: 57vw;
            object-fit: cover;
            right: -5vw;
        }
    
        &__tartContainer img {
            width: 70vw;
            height: 57vw;
            object-fit: cover;
            right: 15vw;
        }

    }

}

/*  price */
.p-price {

    position: relative;
    z-index: 10;
    margin-top: 6.25vw;
    width: 100%;

    &__container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        display: table;
        width: 100%;
        height: 100%;
        padding-top: 14vw;
    }

    &__main {
        padding-top: 300px;
        vertical-align: middle;
        text-align: center;
    }

    &__title {
        font-size: 7.33333vw;
        text-align: right;
        padding: 0 90px;
        font-family: "courier",sans-serif;
    }

    &__contentInner {
        display: flex;
        justify-content: center;
        margin-top: 15vw;
    }

    &__contentItem {
        position: relative;
        width: 32vw;
        margin-left: 10vw;
        margin-top: 10vw;
    }

    &__contentItem:first-child {
        margin-left: 0;
        margin-top: 0;
    }

    &__contentImage {
        width: 100%;
    }

    &__content h3, &__content h4 {
        position: absolute;
        overflow: hidden;
    }

    &__content h3 {
        top: -2vw;
        left: -2vw;
    }

    &__text1 {
        bottom: 6vw;
        right: -3vw;
    }

    &__text6 {
        bottom: -5vw;
        right: -3vw;
    }

    &__content h3 p, &__content h4 p {
        position: relative;
        z-index: 10;
        display: block;
        color: #fff;
        line-height: 1;
    }

    &__content h3 p {
        padding: 1.4vw 3vw;
        font-size: 1.6vw;
    }

    &__content h4 p {
        padding: 2vw 4vw;
        font-size: 2.8vw;
    }

    &__content h3 span {
        font-size: 2.222vw;
    }

    &__content h4 span {
        font-size: 1.5vw;
        padding-left: 10px;
    }

    &__svg {
        width: 100%;
        height: 100%;
    }

    &__svgSp {
        display: none;
    }

    &__box3 {
        text-align: left;
        font-size: 1.2vw;
        padding: 0 90px;
        max-width: 1260px;
        margin: 0 auto;
        display: block;
        line-height: 1.75;
    }

    &__slide {
        transform: translateX(-100%);
        transition-duration: 1s;
    }

}

.p-price:before {
    display: block;
    padding-top: 91.194444%;
    content: '';
}

//p-priceのSPスタイル
@media screen and (min-width: 320px) and (max-width: 767px) {
    .p-price {
        margin-top: 37.13333vw;

        &__inner {
            padding-top: 50vw;
        }

        &__box3 {
            font-size: 2.7vw;
            padding: 25vw 5vw 0 5vw;
        }

        &__svg {
            display: none;
        }

        &__svgSp {
            display: block;
            width: 100%;
            height: 100%;
        }

        &__title {
            font-size: 13.33333vw;
            text-align: center;
        }

        &__contentInner {
            display: block;
        }

        &__content {
            display: flex;
            justify-content: center;
            margin-top: 15vw;

        }

        &__contentItem {
            position: relative;
            width: 60vw;
            margin-top: 35vw;
        }

        &__contentItem:first-child {
            margin-top: 0;
        }

        &__contentImage {
            width: 100%;
        }

        &__contentTitle span {
            color: white;
            font-size: 3.73333vw;
            z-index: 10;
        }

        &__content h3, &__content h4 {
            position: absolute;
            overflow: hidden;
        }

        &__content h3 {
            top: -5vw;
            left: -5vw;
        }

        &__content h4 {
            bottom: -5vw;
            right: -8vw;
        }

        &__content h3 p, &__content h4 p {
            position: relative;
            z-index: 10;
            display: block;
            color: #fff;
            line-height: 1;
        }

        &__content h3 p {
            padding: 3.4vw 6vw;
            font-size: 3.6vw;
        }

        &__content h4 p {
            padding: 4vw 5vw;
            font-size: 3.38889vw;
        }

        &__content h3 span {
            font-size: 2.222vw;
        }

        &__content h4 span {
            font-size: 2.222vw;
        }
    }

    .p-price:before {
        padding-top: 327.733333333%;
    }
}

/*  eat  */
.p-eat {
    position: relative;
    background-color: gold;

    &__inner {
        padding: 18vw 5vw 0 5vw;
    }

    &__inner header p {
        letter-spacing: 0.08em;
        line-height: 1.78;
        font-size: 2vw;
        letter-spacing: 0.08em;
        line-height: 1.78;
    }

    &__step {
        position: relative;
        margin-top: 100px;

    }

    &__step ul {
        margin: 0 -30px;
    }

    &__step ul :after {
        content: "";
        display: table;
        clear: both;
    }

    &__step ul li {
        padding: 0 30px;
        width: 25%;
        position: relative;
        float: left;
        counter-increment: steps;
        box-sizing: border-box;
    }

    &__steps ul li p {
        margin-top: 20px;
        line-height: 1.75;
        font-size: 1vw;
    }

    &__stepBox {
        position: relative;
        padding: 2.9vw 0 0 3.7vw;
    }

    &__stepBox:before {
        position: absolute;
        top: 10px;
        left: 0;
        display: block;
        width: 4.666vw;
        height: 4.4vw;
        background-color: #000;
        color: #fff;
        content: counter(steps);
        text-align: center;
        line-height: 4.5vw;
        font-size: 1.8vw;
    }

    &__stepBox span {
        position: relative;
        z-index: 10;
        display: block;
        color: #fff;
        letter-spacing: 0.08em;
        font-size: 4vw;
        font-family: "courier",sans-serif;
    }

    &__stepBox img {
        width: 13vw;
        height: auto;
    }

    &__stepBox p {
        margin-top: 30px;
        font-size: 1.1vw;
    }

    &__stepBox h3 {
        margin-bottom: 25px;
        font-size: 1.8vw;
    }

    &__step ul li:nth-child(2) {
        margin-top: 4.16667vw;
    }

    &__step ul li:nth-child(3) {
        margin-top: 8.33333vw;
    }

    &__step ul li:nth-child(4) {
        margin-top: 12.5vw;
    }

    &__stepText {
        clear:both;
        font-size: 1vw;
        position: absolute;
        top: 0;
        left: 50%;
        padding-left: 30px;
        width: 50%;
        line-height: 1.75;
    }

    &__step ul:after {
        content: "";
        display: table;
        clear: both;
    }
}

img.p-eat__imgTarte {
    width: 16vw;
}

//p-eatのSPスタイル
@media screen and (min-width: 320px) and (max-width: 767px) {
    .p-eat {
        margin-top: -14.93333vw;
        padding-bottom: 16vw;

        &__inner {
            padding: 14vw 5vw 0 6vw;
        }

        &__inner header p {
            font-size: 3.7vw;
            line-height: 2;
            padding-top: 24vw;
            margin-left: 5vw;
        }

        &__text p {
            font-size: 4vw;
            line-height: 2;
        }

        &__step {
            margin-top: 0;
        }

        &__step ul {
            margin: 0 -4vw;
        }

        &__step ul li {
            padding: 0 4vw;
            width: 50%;
        }

        &__stepBox {
            padding: 5.86667vw 0 0 5.86667vw;
        }

        &__stepBox span {
            font-size: 6.66667vw;
        }

        &__stepBox h3 {
            margin-top: 2.66667vw;
            margin-bottom: 3.73333vw;
            font-size: 3.2vw;
        }

        &__stepBox p {
            font-size: 2.9vw;
            letter-spacing: 0.08em;
            line-height: 2;
        }

        &__step ul li:nth-child(2) {
            margin-top: 8vw;
        }

        &__step ul li:nth-child(3) {
            margin-top: 5.33333vw;
        }

        &__step ul li:nth-child(4) {
            margin-top: 13.33333vw;
        }

        &__stepText {
            font-size: 2.5vw;
            line-height: 1.8;
            margin-top: 16vw;
            position: initial;
            width: 100%;
            padding-left: 0;
        }

        &__stepBox:before {
            width: 4.16667vw;
            height: 4.16667vw;
            line-height: 4.16667vw;
            font-size: 1.66667vw;
        }

        &__stepBox img {
            width: 100%;
        }

        &__stepBox:before {
            width: 8vw;
            height: 8vw;
            font-size: 4vw;
            line-height: 8vw;
        }
    }

    img.p-eat__imgTarte {
        width: 110%;
    }

    .p-eat header {
        margin-bottom: 16vw;
    }
}


/*  passion  */
.p-passion {
    clear:both;
    position: relative;
    overflow-x: hidden;
    padding-top: 12.5vw;
    padding-bottom: 11.11111vw;
    background-color: #F0F0F0;

    &__box {
        position: relative;
        margin-top: 12.5vw;
    }

    &__title {
        letter-spacing: 0.16em;
        margin-bottom: 10px;
        font-size: 33px;
    }

    &__philosophy, &__design {
        position: absolute;
        top: 0;
    }

    &__philosophy {
        text-align: right;
        right: 0;
    }

    &__design {
        left: -5vw;
    }

    &__text1 {
        padding: 3.33333vw 5.55556vw;
        position: relative;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    &__text {
        position: relative;
        z-index: 10;
        display: block;
        font-size: 3.33333vw;
    }

    &__text2 {
        margin-top: -1.1em;
    }

    &__philosophyList, &__designList {
        width: 50vw;
    }

    &__designList {
        margin-left: auto;
    }

    &__item1, &__item2, &__item3, &__item4 {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
    }

    &__item1 h4 {
        top: -27px;
        right: 0;
    }

    &__item2 h4 {
        top: 6vw;
        left: 0;
    }

    &__item3 h4 {
        top: 6vw;
        right: 0;
    }

    &__item4 h4 {
        top: -27px;
        left: 0;
    }

    &__item1 h4, &__item2 h4, &__item3 h4, &__item4 h4 {
        position: absolute;
        z-index: 20;
        overflow: hidden;
        line-height: 1;
    }

    &__itemTitle1, &__itemTitle2, &__itemTitle3 {
        padding: 2.77778vw 3.88889vw;
        font-size: 1.66667vw;
    }


    &__itemMain, &__itemMain2 {
        width: 43.75vw;
        height: 100%;
        position: relative;
        max-width: 720px;
        object-fit: cover;
    }

    &__itemMain img, &__itemMain2 img {
        width: 45vw;
        height: 11vw;
        position: relative;
        max-width: 720px;
        object-fit: cover;
        filter: grayscale(100%);
    }

    &__itemMain img:hover {
        filter: grayscale(0);
    }

    &__itemTitle {
        position: relative;
        z-index: 10;
        display: block;
        opacity: 0;
    }

    &__box2 ul {
        margin-left: auto;
    }

    &__textBox {
        top: 0;
        right: 0;
    }

    &__textBox h3 {
        color: gold;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        line-height: 1.111111111;
        transform: translateZ(0);
        backface-visibility: hidden;
        font-size: 8.75vw;
        margin-left: 40px;
        font-family: "courier",sans-serif;

    }

    &__textBox h3 span {
        display: block;
    }

    &__textBox p {
        position: absolute;
        top: 60%;
        left: 55%;
        font-size: 1.66667vw;
        margin: -47% 0 0 -25%;
        padding-top: 1.6em;
        text-align: left;
        white-space: nowrap;
        letter-spacing: 0.08em;
        line-height: 2;
        writing-mode: vertical-rl;
    }

    &__br {
        font-size: 1px;
        line-height: 100%;
        text-align: left;
        text-indent: -119988px;
        overflow: hidden;
        text-align: left;
        text-transform: capitalize;
    }

    &__br:before {
        content: '\A';
        white-space: pre;
        font-size: 1px;
        line-height: 100%;
    }

    &__triangle {
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 12.5vw;
        fill: gold;
    }
}

.itemLeft1 {
    margin-left: auto;
}

.p-passion__comment {
    transform: translateY(-20%);
    transition-duration: 1s;
}


//p-passionのSPスタイル
@media screen and (min-width: 320px) and (max-width: 767px) {
    .p-passion {

        padding-top: 21.33333vw;

        &__philosophyList, &__designList {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__designList {
            margin-left: 0;
        }

        &__title {
            margin: 8vw -8vw 21.33333vw -8vw;
            letter-spacing: 0.16em;
        }

        &__philosophy, &__design {
            position: relative;
            margin-bottom: 9.6vw;
            // margin-left: auto;
        }

        &__design {
            margin-top: 21.33333vw;
            margin-bottom: 19.46667vw;
            width: 0;
        }

        &__text {
            font-size: 6.2vw;
        }

        &__text1 {
            padding: 4.9vw 10vw;
        }

        &__philosophy h3, &__design h3 {
            font-size: 20.16vw;
        }

        &__philosophy p, &__design p {
            letter-spacing: 0.04em;
            font-size: 4vw;
        }

        &__textBox p {
            top: 70%;
            left: 72%;
        }

        &__itemTitle1, &__itemTitle2, &__itemTitle3 {
            font-size: 3.8vw;
        }

        &__itemTitle1 {
            padding: 4.93333vw 7.2vw;
        }

        &__itemTitle2 {
            padding: 3.93333vw 4.8vw;
        }

        &__itemTitle3 {
            padding: 3.93333vw 5.2vw;
        }

        &__item1 h4 {
            top: -4.93333vw;
            left: 2vw;
        }

        &__item2 h4 {
            top: 13.26667vw;
            left: 34.6vw;
            width: 47.5vw;
        }

        &__item3 h4 {
            top: 14.26667vw;
            left: 0;
            width: 69.3vw;
        }

        &__item4 h4 {
            top: -4.93333vw;
            left: 39vw;
            width: 41.7vw;
        }

        &__itemMain img, &__itemMain2 img {
            width: 71vw;
            height: 22vw;
        }
    }

    .textBox2 p {
        top: 1vw;
        left: 7vw;
    }

    .itemLeft1 {
        margin-left: 0;
    }

    .itemLeft2 {
        margin-left: 10vw;

    }

    .inner {
        padding: 0 8vw;
    }
}

/*  shop  */
.p-shop {

    position: relative;
    z-index: 50;
    width: 100%;
    background-color: #F0F0F0;

    &__title {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    &__triangle {
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 27.280477408%;
        fill: #fff;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
    }

    &__text header h2 {
        text-align: center;
        letter-spacing: 0.08em;
        line-height: 1;
        font-size: 5.55556vw;
        font-family: "courier",sans-serif;
    }

    &__text header h2 a {
        color: #fff;
    }

    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        max-width: 100vw;
    }

    &__imgBox {
        position: relative;
    }

    &__imgBox2 {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__imgBox img, &__yellowImg {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__imgBox img {
        clip-path: polygon(0% 3%, 0% 101%, 102% 73%, 100% 19%);
    }

    &__yellowImg {
        clip-path: polygon(0% 3%, 0% 101%, 102% 73%, 100% 19%);
    }

    &__sp {
        display: none;
    }

    &__triangle2 {
        display: none;
    }

}

.p-shop__title h2 .p-shop__icon {
    position: relative;
    display: inline-block;
    font-size: 4.22222vw;
}

.p-shop__icon {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0);
    }
}

.p-shops:before {
    display: block;
    padding-top: 61.09375%;
    content: '';
}

//p-shopのSPスタイル
@media screen and (min-width: 320px) and (max-width: 767px) {

    .p-shop {

        &__pc {
            display: none;
        }

        &__sp {
            display:block;
        }

        &__spImgBox {
            position: relative;
        }

        &__spImgBox2 {
            position: absolute;
            top: 0;
            left: 0;
        }

        &__spImgBox img, &__spYellowImg {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &__spImgBox img {
            clip-path: polygon(0% 12%, 0% 86%, 100% 100%, 100% 0%);
        }

        &__spYellowImg {
            clip-path: polygon(0% 12%, 0% 86%, 100% 100%, 100% 0%);
        }

        &__triangle {
            height: 18.66667vw;
            display: none;
        }

        &__triangle2 {
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: 10;
            width: 100%;
            height: 18.66667vw;
            fill: #fff;
        }

        &__text header h2 {
            font-size: 13.33333vw;
        }

    }

    .p-shop:before {
        padding-top: 126%;
    }

    .p-shop__title h2 .p-shop__icon {
        font-size: 10.22222vw;
    }
}

/* news */
.p-news {
    background-color: #FFFFFF;

    &__title {
        margin: 40px 0;
    }

    &__title h3,
    &__btnBox {
        text-align: center;
        letter-spacing: 0.08em;
    }

    &__title h3 {
        font-size: 3.47222vw;
        font-family: "courier",sans-serif;
    }

    &__btnBox {
        margin: 45px 0 120px 0;
    }

    &__btnBox a {
        background-color: gold;
        padding: 1.9vw 4.777vw;
        font-size: 1.25vw;
        font-family: "courier",sans-serif;
    }

    &__btnBox a:hover {
        opacity: 0.5;
    }

    &__box ul:after {
        content: "";
        display: table;
        clear: both;
    }

    &__list li {
        float: left;
        width: 50%;
    }

    &__item {
        display: flex;
        margin-bottom: 20px;
    }

    &__item img {
        width: 120px;
        height: 100px;
        object-fit: cover;
        margin-left: 20px;
    }

    &__item div {
        margin-top: 18px;
    }

    &__itemBox {
        padding-left: 10px;
    }

    &__itemBox h3 {
        font-size: 1.333vw;
    }

    &__itemBox p {
        font-size: .97222vw;
        margin-top: 10px;
    }

}

//p-newsのSPスタイル
@media screen and (min-device-width: 320px) and (max-width: 767px) {
    .p-news {


        &__title h3 {
            font-size: 8vw;
        }

        &__list li {
            clear:both;
            width: 100%;
        }

        &__itemBox h3 {
            font-size: 3.2vw;
            line-height: 1.4;
        }

        &__itemBox p {
            margin-top: 1.49925vh;
            font-size: 2.66667vw;
        }

        &__item {
            margin-top: 5.33333vw;
            min-height: 17.33333vw;
        }

        &__item img {
            width: 17.33333vw;
            height: 17.33333vw;
        }

        &__btnBox {
            margin-top: 16vw;
            margin-bottom: 18.66667vw;
        }

        &__btnBox a {
            padding: 3.53333vw 9.46667vw;
            font-size: 4vw;
        }

        &__item div {
            margin-top: 1.4vw;
            padding-left: 2.33333vw;
            min-height: 17.33333vw;
        }
    }
}


/*  contact  */
.p-contact {

    margin-top: 70px;
    background-color: #f0f0f0;

    &__triangle {
        width: 100%;
        height: auto;
    }

    &__title {
        text-align: center;
        margin: 40px 0;
    }

    &__title h3 {
        letter-spacing: 0.08em;
        font-size: 5vw;
        margin-bottom: 20px;
        font-family: "courier",sans-serif;
    }

    &__title p {
        font-size: 1.25vw;
    }

    &__list li {
        float: left;
        margin-top: 4px;
        width: 50%;
    }

    &__list li a {
        padding: 2.5em 2em;
        position: relative;
        display: block;
        background-color: gold;
        margin-right: 4px;
        font-size: 1.333vw;
    }

    &__list li a:hover {
        opacity: 0.5;
    }

    &__box ul:after {
        content: "";
        display: table;
        clear: both;
    }

    &__item li a span {
        position: absolute;
        top: 2.5em;
        right: 2em;
    }

    &__table {
        width: 57%;
        margin: 0 auto;
        margin-top: 5.75em;
        font-size: 1.11111vw;
    }

    &__table dt {
        float: left;
        width: 25%;
        box-sizing: border-box;
    }

    &__table dd:after {
        display: block;
        clear: both;
        content: '';
    }

    &__table dd {
        margin-left: 25%;
        padding-bottom: 2em;
    }

    &__title br {
        display: none;
    }

}

//p-contactのSPスタイル
@media screen and (min-width: 320px) and (max-width: 767px) {
    .p-contact {

        &__title br {
            display: block;
        }

        &__title h3 {
            font-size: 8vw;
        }

        &__title p {
            line-height: 2;
            font-size: 20px;
        }

        &__list li {
            clear:both;
            width: 100%;
        }

        &__list li a {
            padding: 6.66667vw 6vw;
            font-size: 2.8vw;
        }

        &__table {
            width: 100%;
            margin-top: 16vw;
            font-size: 2.66667vw;
        }

        &__table dt {
            width: 33%;
        }

        &__table dd {
            margin-left: 33%;
            padding-bottom: 5.33333vw;
        }

    }

}

/*  footer  */
.l-footer {

    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: #F0F0F0;

    &__inner {
        position: relative;
        width: 100%;
    }

    &__innerBox {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__backGround {
        background-image: url('../images/pc/footer_background_img.jpg');
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center bottom;
        background-size: 100% auto;
    }

    &__backGroundSp {
        display: none;
    }

    &__main {
        position: absolute;
        z-index: 10;
        width: 100%;
    }

    &__mainBox {
        position: relative;
        margin: 0 auto;
        padding: 0 50px;
        bottom: 18vw;
    }

    &__logoImg {
        max-width: 100%;
    }

    &__logoImg img {
        width: 10vw;
        height: auto;
        object-fit: cover;
    }

    &__linkBox {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 50;
        padding: 0 3.333333333em 0 14.666666667em;
    }

    &__list {
        margin-top: 4.362050164%;
    }

    &__text {
        position: absolute;
        right: 6.166667em;
        bottom: 0;
        height: 3.333333333em;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 3.333333333em;
        font-size: .83333vw;
    }

    &__link a {
        color: #fff;
        font-size: 1vw;
        margin-left: 1.9vw;
    }

    &__link a {
        margin-left: 20px;
    }

    &__link a:first-child {
        margin-left: 0;
    }

    &__link a:hover {
        opacity: 0.5;
    }

    &__text {
        color: #fff;
    }

    &__list li {
        display: inline-block;
        width: 1.99999vw;
        height: 20px;
    }

    &__list li a {
        color: #fff;
        font-size: 2.999999vw;
    }

    &__list li a:hover {
        opacity: 0.8;
    }

    &__item {
        padding-left: 2vw;
    }

}

.l-footer .l-footer__triangle {
    fill: #F0F0F0;
}

.l-footer .l-footer__triangle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.l-footer .l-footer__inner:before {
    display: block;
    padding-top: 47.760416667%;
    content: '';
}

//l-footerのSPスタイル
@media screen and (min-width: 320px) and (max-width: 767px) {
    .l-footer {

        &__backGround {
            display: none;
        }

        &__backGroundSp {
            background-image: url('../images/sp/footer_background_img_sp.jpg');
            display: block;
            width: 100%;
            height: 100%;
            background-attachment: fixed;
            background-position: center bottom;
            background-size: 100% auto;
        }

        &__mainBox {
            padding:0 6vw;
        }

        &__logoImg img {
            width: 20vw;
        }

        &__main {
            bottom: -14vw;
        }

        &__link, &__text {
            display: none;
        }

        &__linkBox {
            bottom: 6vw;
            padding: 0 1.333333em 0 10.666667em;
        }

        &__list {
            display: flex;
        }

        &__list li {
            width: 7.99999vw;
        }

        &__list li a {
            font-size: 7.999999vw;
        }
    }

    .l-footer .l-footer__inner:before {
        padding-top: 93%;
    }

}


/*  util  */
.u-textDown {
    overflow: hidden;
    display: inline-block;

    &__inner {
        display: inline-block;
    }
}

.u-downAnime {
    opacity: 0;
}

// .u-icon__white {
//     color: #fff;
// }

.u-icon__black {
    position: absolute;
    top: 2.5em;
    right: 2em;
    color: #000;

}

/* アイコン */
.fa-caret-down {
    margin-left: 10px;
    color: #fff;
    transform: rotate(0deg);
    transition: all 0.2s;
}

.u-padding {
    padding: 0 90px;
    max-width: 1260px;
}



@media screen and (min-width: 320px) and (max-width: 767px) {
    .u-padding {
        padding: 0 8vw;
    }
}